.ant-switch {
  margin-bottom: 15px;
  max-width: 35px;
}

.banner-options {
  display: flex;
  flex-direction: column;
}

.banner-options__advanced {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

label {
  margin-top: 10px;
}
