#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: flex;
}

.header,
.banners-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.header {
  height: 50px;
  background-color: #f0f0f0;
}


.banners-container {
  margin: 0 auto;
  min-height: 900px;
  height: 100%;
  background-color: #fffdfd;
  width: 80%;
}

.options-container {
  width: 20%;
  padding: 10px;
}