#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.main {
  display: flex;
}

.banners-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.banners-container {
  margin: 0 auto;
  min-height: 900px;
  height: 100%;
  background-color: #fffdfd;
  width: 80%;
}

.options-container {
  width: 20%;
  padding: 10px;
}

/* COMMON STYLES */

/* vertical banners */
.banner {
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.banner-vertical__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.banner-vertical__brand {
  display: flex;
  align-items: center;
}

.banner-vertical__brand>img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.banner-vertical__brand>span {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.8;
}

/* CB - carousel bottom */
.banner-vertical-cb-main__img {
  height: 40%;
  object-fit: contain;
}

/* CB - carousel right */
.banner-vertical-cr-image__wrapper img {
  object-fit: contain;

}

.banner-vertical-cr-image__wrapper {
  min-height: 40%;
  max-height: 49%;
  display: flex;
}

.banner-vertical-cr-image__img {
  width: 80%;
  height: 100%;
}

.banner-vertical-cr-image__carousel {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-orig {
  font-weight: 700;
  font-size: 18px;
  color: #f61b58;
}

.price-old {
  font-weight: 500;
  font-size: 15px;
  text-decoration: line-through;
}

.bestseller {
  font-weight: 500;
  font-size: 0.9rem;
  color: #fd8424;
}

.description {
  margin: 6px 0;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.8;
  line-height: 130%;
}

/* CAROUSEL  */

.carousel-vert {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-hor {
  display: flex;
  align-items: center;

}

.carousel-hor>img {
  object-fit: contain;

}

.carousel-vert>img {
  object-fit: contain;

}

.rating {
  display: flex;
  align-items: center;
  flex: 1;
}

.rating>img {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}

.btn {
  border: none;
  color: #fff;
  background-color: #0060ff;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2050d8;
}

.banner__marking_plug {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-size: 1rem;

  color: #bfbfbf;
}

button {
  max-width: 10rem;
  padding: 4px 0.7rem;
  font-weight: 600;
  font-size: 0.8rem;
}

/* COMMON  */
.padding-x-l {
  padding: 0 1rem;
}

.padding-x-m {
  padding: 0 .6rem;
}

.padding-custom-m {
  padding: 0 .6rem .6rem;
}

.margin-custom-m {
  padding: 0 .6rem .6rem;
}



.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}